**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.ipynb_checkpoints/
**/.DS_Store

.git/
.vscode/
.idea/

# Kedro
kedro/background-removal/.viz/
kedro/background-removal/data/
kedro/background-removal/notebooks/

# Build artifacts
dist/
build/
*.egg-info/